<template>
  <renderless-input
    v-model="localValue"
    :clearable="clearable"
  >
    <div
      slot-scope="{ isClearable, onClear, onInput, value }"
      class="border-2 rounded"
    >
      <form class="inline-flex items-center w-full">
        <input
          ref="input"
          v-bind="$attrs"
          v-bind:value="value"
          @input="triggerInput(onInput, $event)"
          class="px-2 py-1 w-full"
        >
        <button
          class="rounded-full h-5 w-5 bg-gray-300 hover:bg-gray-400 mr-2"
          v-if="isClearable"
          @click="clearInput(onClear)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            class="mx-auto"
            width="0.68rem"
            height="0.68rem"
          >
            <path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z" /></svg>
        </button>
      </form>
    </div>
  </renderless-input>
</template>

<script>
import RenderlessInput from "./VInput.js";

export default {
  components: {
    RenderlessInput
  },

  props: {
    clearable: {
      type: Boolean,
      required: false,
      default: false
    },
    value: {
      type: String,
      default: ""
    }
  },

  data() {
    return {
      localValue: this.value
    };
  },

  methods: {
    clearInput(onClear) {
      onClear();
      this.$emit("input", this.localValue);
      this.$refs.input.focus();
    },
    triggerInput(onInput, event) {
      onInput(event);
      this.$emit("input", this.localValue);
    }
  }
};
</script>
