<template>
  <div class="p-4">
    <section>
      <h2>Inputs</h2>
      <v-input
        placeholder="Type text ..."
        v-model="inputValue"
        clearable
      />
      <button @click="showValue">show</button>
    </section>
  </div>
</template>

<script>
import VInput from "@/components/input/VInputUI.vue";

export default {
  components: {
    VInput
  },

  data() {
    return {
      inputValue: "val"
    };
  },

  methods: {
    showValue() {
      alert(this.inputValue);
    }
  }
};
</script>
